{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <title>display_webpage</title>
</head>
<body>
    <center>
        <h1>display_webpage</h1>
        <table class="table table-striped table-success">
            <thead>
                <tr>
                    <th>Topic_Name</th>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Email</th>
                </tr>
            </thead>
            {% for i in topic %}
            <tr>
                <td>{{i.topic_name}}</td>
                <td>{{i.name}}</td>
                <td>{{i.url}}</td>
                <td>{{i.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>